<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Veritas · Conversation Backend</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body style="margin:0">
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="/keys">keys</a></li>
            <li><a href="/about">about</a></li>
          </ul>
        </nav>
        <a href="/">
          <h1>TRUTH</h1>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= if script = @conn.assigns[:script] do %>
      <label>Script:</label>
      <textarea><%= script %></textarea>
      <p>Drag this money button to send your chat message.</p>
      <div class='money-button'
        data-outputs='[{
          "type": "SCRIPT",
          "script": "<%= script %>",
          "amount": "0",
          "currency": "BSV"
        }]'
      ></div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="https://www.moneybutton.com/moneybutton.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
